---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import GitHubIcon from '../icons/GitHub.astro';
import MailIcon from '../icons/Mail.astro'

---

<Layout 
	title="Portafolio de Marcelo Aranguiz - Desarrollador Backend y Fronted"
>
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
		<h1 
		class="text white text-5xl font-bold flex flex-row gap-x-4 pb-10">
			Soy Marcelo Aranguiz <a 
				href="https://cl.linkedin.com/in/marcelo-aranguiz-dev" 
				target="_blank" 
				rel="noopener" 
				class="flex justify-center items-center"
			>
				<Badge>Contacta conmigo</Badge>
			</a>
		</h1>
		<h2 class="text-2xl text-wrap">
			<span>Trainee Developer.</span> 
			<span class="text-yellow-200/90">Especializado en el desarrollo</span> 
			<span class="text-red-200/90">Frontend y Backend.</span>
			<span class="opacity-75">Comprometido en crear soluciones innovadoras para satisfacer las necesidades de mis clientes.</span>
		</h2>

		<nav class="flex gap-x-2 mt-8">
			<SocialPill href="https://cl.linkedin.com/in/marcelo-aranguiz-dev" >
				<LinkedInIcon class="w-6 h-6"/>
				LinkedIn
			</SocialPill>
			<SocialPill href="https://github.com/MarceloAranguizDev" >
				<GitHubIcon class="w-6 h-6"/>
				GitHub
			</SocialPill>
			<SocialPill href="https://github.com/MarceloAranguizDev" >
				<MailIcon class="w-6 h-6"/>
				marceloaranguiz.dev@gmail.com
			</SocialPill>
		</nav>
		</section>
	</main>
</Layout>

