---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import GitHubIcon from '../icons/GitHub.astro';
import MailIcon from '../icons/Mail.astro';
import Briefcase from '../icons/Briefcase.astro';

---

<Layout 
	title="Portafolio de Marcelo Aranguiz - Desarrollador Backend y Fronted"
>
	<main class="px-2">
		<SectionContainer class="py-44 pb-22">
			<img 
        		class="rounded-full w-12 h-12 mb-4"
        		src="https://avatars.githubusercontent.com/u/133079144?v=4" 
        		alt="marcelodev photo"
    		>
		<h1 
		class="text white text-3xl md:text-4xl lg:text-5xl font-bold flex
		flex-row gap-x-4 pb-6 lg:pb-10"
		>
			Soy Marcelo Aranguiz <a 
				href="https://cl.linkedin.com/in/marcelo-aranguiz-dev" 
				target="_blank" 
				rel="noopener" 
				class="flex justify-center items-center"
			>
				<Badge>Contacta conmigo</Badge>
			</a>
		</h1>
		<h2 class="text-2xl text-wrap max-w-[700px]">
			<span>Trainee Developer.</span> 
			<span class="text-blue-200/90">Especializado en el desarrollo</span> 
			<span class="text-red-200/90">Frontend y Backend.</span>
			<span class="opacity-75">Comprometido en crear soluciones innovadoras para satisfacer las necesidades de mis clientes.</span>
		</h2>

		<nav class="flex gap4 mt-8 flex-wrap">
			<SocialPill href="https://cl.linkedin.com/in/marcelo-aranguiz-dev" >
				<LinkedInIcon class="size-4 md:size-6"/>
				LinkedIn
			</SocialPill>
			<SocialPill href="https://github.com/MarceloAranguizDev" >
				<GitHubIcon class="size-4 md:size-6"/>
				GitHub
			</SocialPill>
			<SocialPill href="mailto:marceloaranguiz.dev@gmail.com" >
				<MailIcon class="size-4 md:size-6"/>
				marceloaranguiz.dev@gmail.com
			</SocialPill>
		</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7"/>
				Experienca Laboral
			</h2>
			<Experience/>
		</SectionContainer>
	</main>
</Layout>

