---
const personalImageAlt = "Marcelo Aránguiz"
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import MailIcon from "../icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
---

<div class="max-w-xl">
    <div class="flex gap-4 mb-4">
      <img
        class="rounded-full shadow-lg size-16"
        src="https://avatars.githubusercontent.com/u/133079144?v=4"
        alt={personalImageAlt}
      />
      <a
        href="https://cl.linkedin.com/in/marcelo-aranguiz-dev"
        target="_blank"
        rel="noopener"
        class="flex items-center transition md:justify-center md:hover:scale-105"
      >
        <Badge>Contacta conmigo</Badge>
      </a>
    </div>
    <h1
      class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
      Soy Marcelo Aranguiz
    </h1>
    <p
      class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-blue-400 [&>strong]:text-blue-500 [&>strong]:font-semibold dark:text-gray-300"
    >
      Trainee Developer. <strong
        >Especializado en el desarrollo</strong
      > Frontend y Backend. Comprometido en crear soluciones innovadoras para satisfacer las necesidades de mis clientes.
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
      <SocialPill href="mailto:marceloaranguiz.dev@gmail.com">
        <MailIcon class="size-4" />
        Contáctame
      </SocialPill>
      <SocialPill href="https://cl.linkedin.com/in/marcelo-aranguiz-dev">
        <LinkedInIcon class="size-4" />
        LinkedIn
      </SocialPill>
    </nav>
  </div>